body {
    background-image: url('img/bg.png');
    background-repeat: no-repeat;
    background-size: 104vmax;
    background-position: fixed top;



}






.navbar {
    padding-right: 10px;
    padding-left: 20px;

}

.tombol {
    background-color: #E4A354;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;

}

.tombol-read {
    background-color: #E4A354;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}


.nav-link {
    color: black;
    margin-right: 20px;
}